body{
    background-color: aqua;
}
header{
    background-color: white;
    border-radius: 20px;
    width: 500px;
    margin: auto; 
    box-shadow: 5px 5px 10px rgba(155, 128, 128, 0.432); /* sombra */
    text-align: center;
    font-size: 14px;
    color: rgb(3, 60, 124);
}
section{
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    width: 450px;
    margin: auto; 
    box-shadow: 5px 5px 10px rgba(155, 128, 128, 0.432); /* sombra */


}
div{
    text-align: center;
    padding: 8px; /* espaçamento */
    font-size: 15;
}
input{
    align-items: center;
}
footer{
    color: darkblue;
    text-align: center;
    font-style: italic;
    font-size: 12pt;
}