body{
    background-color: rgb(226, 77, 77);
}
header{
    text-align: center;
    color: white;
}
section{
    background-color: lightblue;
    border-radius: 20px;
    padding: 15px;
    width: 450px;
    margin: auto;
}
footer{
    text-align: center;
    color: white;
}
#inserir{
    text-align:center ;
    font-size: 18px;
}
#procurar{
    text-align:center ;
    font-size: 18px;

}