body{
    background-color: lightcoral;
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    width: 550px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432); /* sombra */

}
footer{
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 12pt;    
}
div{
    text-align: center;

}
#res{
    margin-bottom: 2em;
}