body{
    background-color: indianred;
}
header{
    text-align: center;
    color: wheat;
}
section{
    background-color: grey;
    border-radius: 20px;
    padding: 15px;
    width: 450px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(155, 128, 128, 0.432); /* sombra */

}

footer{
    text-align: center;
    color: wheat;
}
div{
    color: ivory;
    font-size: 18px;
}
#res{
    text-align: center ;
}